
<div class="modal hide fade" id = "<%= @modalId %>" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Create a branch</h3>
  </div>
  <div class="modal-body">
   <%= simple_form_for @branch do |f|%>
      <fieldset>
        <%= @brandid %>
        <%= f.hidden_field :brand_id, :value => @brandid %>
        <%= f.input :name, :label => 'Branch Name' %>
        <%= f.input :address1, :as => :text, :input_html => { :rows => 3, :cols => 25, :class => 'resizable' }, :label => "Primary Address"  %>
        <%= f.input :address2, :as => :text, :input_html => { :rows => 3, :cols => 25, :class => 'resizable' }, :label => "Secondary Address"  %>
        <%= f.label :country %>
        <%= f.country_select :country%>
        <%= f.input :zip, :label => 'Zip Code' %>
        <%= f.input :province_state, :label => 'Province/State' %>
      </fieldset>

 </div>
 <div class="modal-footer">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <button type="button" class="btn" data-dismiss="modal">Back</button>
  </div>
  <%end%> 
</div>