<%= simple_form_for @client do |f| %>
  <fieldset>
    <%= f.label "Client Photo"%>
    <%= f.file_field :photo %>  
    <%= f.input :name, :label => 'Client name' %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </fieldset>
  <br/>
     <div class="modal-footer">
        <%= f.button :submit, :class => "btn btn-primary" %>
        <button type="button" class="btn" data-dismiss="modal">Back</button>
    </div>
<% end %>