<div class="span8">
  <div class="well row-fluid">
 	
 		<legend>
 			<h1>Company</h1>
 		</legend>



<table id="company" class="display" border="1">
  <thead>
    <tr>
      
      <th>Company Name</th>
      <th>Primary Address</th>
      <th>Secondary Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Zip Code</th>
      <th>Landline</th>
      <th>Mobile</th>
      <th>Fax</th>

    </tr>
  </thead>
  <tbody>
   
 <% @showcompany.each do |showcompany| %>

      <tr align="center">
        <td><%= showcompany.name %></td>
        <td><%= showcompany.address %></td>
        <td><%= showcompany.address2 %></td>
        <td><%= showcompany.city %></td>
        <td><%= showcompany.country %></td> 
        <td><%= showcompany.zip_code %></td>
        <td><%= showcompany.landline %></td> 
        <td><%= showcompany.mobile %></td>
        <td><%= showcompany.fax %></td>  
      </tr>

    <% end %> 

  </tbody>
</table>


  </div>
</div>