 <div class="brand-level">

 	 	<% @brandid = "" %>
     <% @brands.each do |b| %>
     	<table>
     		<tr><td width="750">
	     			<h2><%= b.name %>&nbsp;<%= b.id %></h2>
	     		</td>
	     		<td>
	     			<%= link_to "Edit", edit_brand_path(b.id) %>&nbsp;
	     		</td>
	     		<td>
	     			|&nbsp;
	     		</td>
	     		<td>
	     			<%= link_to "Delete", b, :confirm => "Are you sure?", :method => :delete %>
	     		</td>
     		</tr>
     	</table>
	     
	    <p><%= b.description %></p>
	    <div class="droppable-area">
	      	<ul class="set-permission-group">
	      		<%= link_to "Add a Branch","#branch" + b.id.to_s, :data => {:toggle=>"modal"},
:class=>"btn btn-info"%>
	      		<table>
	      			<tr>
	      				<td>
	      				</td>
	      			</tr>
	      		</table>
	      	</ul>
      	<div class="clear-floats"></div></div>
     
      	<% @brandid = b.id %>
      	<% @modalId = "branch" + b.id.to_s %>
		<%= render :template => "branches/_form" %>
     <%end%>
</div>
