
<div class="fill-all container-fluid">
  <div class="row-fluid">
         <%= render 'layouts/sidebar'%>

      <div class="span" id="content">
        
          <div class="span11">


             <ul class="nav nav-tabs">
                <li><%= link_to "Company", clients_path %></li>
                <li  class="active"><%= link_to "Brands", brands_path %></li>
                <li><%= link_to "Branches"%></li>
                <li><%= link_to "Users" %></li>
                <li><%= link_to "Permissions", permissions_path%></li>
           </ul>
            
            <div class="hero-unit">
                <%= render 'form' %>
                <button class="btn btn-primary" data-toggle="modal" href="#brand">Create a Brand</button>  
              <br/>
                <%= render 'showbrands' %>
              
            </div>  

                 
         

        </div> <!-- END SPAN11 -->
      </div> <!-- END SPAN CONTENT -->
    </div>
</div>
