
<!-- SIGN IN -->
<section class="slide" id="fliptrip-login" data-section="3" class="span12 login-window">

  <div class="container" id="login-container">
     
      <div class="span9 offset1">
	    <h2>Sign In</h2>
    	  <div class="pull-right">
     
      	  </div> <!-- pull-right -->
   	  </div> <!-- span9 offset1 -->
    
      <div class="span3 offset2">
	  </div> <!-- span3 offset2 -->
    
      <div class="span4">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div><%= f.email_field :email, :placeholder => "Email" %></div>
              <div><%= f.password_field :password , :placeholder => "Password" %></div>
              <div class="homeform-align">
                <%= f.submit "Sign in", :class => 'span2 btn btn-primary'%>
                 <% if devise_mapping.rememberable? -%>
                          <font class="bulletleft">•</font>
                          <%= f.check_box :remember_me, :as => :boolean, :class => "left1" %><%= f.label :remember_me, :class => "left1" %>
                        <% end -%>
                        <a href="javascript:{}" data-section="3" class="links tableft" id="forgot-button">Forgot your password?</a>                
           		<% end %>
   			  </div> <!-- homeform-align -->
  		</div> <!-- span4 -->
    
   </div> <!-- container -->
</section>
<!-- END SIGN IN -->
        

<!-- SIGN UP -->        
<section class="slide" id="fliptrip-join" data-section="2" class="span12 login-window">
    <div class="container">   
        <div class="span9 offset1">
          		<h2>Sign Up</h2>
           	<div class="pull-right">
          		<a href="javascript:{}" data-section="1" class="close-icon" id="hide-join-button">X</a>
        	</div> <!-- pull right -->
        </div> <!-- span9 offset1 -->
        
        <div class="span3 offset2">
        </div> <!-- span3 offset2 -->
        
        <div class="span4">      
               
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |x| %>
        			 <div><%= x.text_field :first_name, :placeholder => "First Name"  %></div>
        			 <div><%= x.text_field :last_name, :placeholder => "Last Name" %></div>
        			 <div><%= x.email_field :email, :placeholder => "Email" %></div>
        			 <div><%= x.password_field :password, :placeholder => "Password"  %></div>
        		
        		 <div class="homeform-align">
        		 	<%= x.submit "Sign Up", :class => 'span2 btn btn-primary'%>
        		</div>
        	<%end%>
        </div> <!-- span4 -->
    </div> <!-- container -->
</section>
<!-- END SIGN UP -->


<div id="main-navbar" class="navbar">
   <div class="navbar-inner">
			<div class="container-fluid">
	 			 <%= link_to "RESTOBOT", root_path, :id => "logo" %>
	 		</div> <!-- container-fluid -->

	 <div class="pull-right">
		<ul class="nav nav-pills">
			<li><a href="javascript:{}" data-section="2" class="link-transit" id="join-button">Sign Up</a></li>
			<li><a href="javascript:{}" data-section="3" class="link-transit" id="login-button">Login</a></li>
	 	</ul>
	 </div> <!-- pull-right -->	  
   </div> <!-- navbar-inner -->
</div><!-- end header -->


