<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <legend><h3>SETUP</h3></legend>
      <li class="nav-header">Users</li>
      <li><%= link_to "Company", companies_path %></li>
      <li><%= link_to "Restaurant", restaurants_path %></li>
      <li><%= link_to "Branch", branches_path %></li>
      <li><%= link_to "User Role", user_roles_path %></li>
      <li><%= link_to "Set Permission", new_permission_path %></li>
     </ul>
  </div>
</div>