<!DOCTYPE html>
<html>
<head>
  <title>Rms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<% if user_signed_in? %> 

  <body style="overflow: hidden;">

      <%= render "layouts/header2" %>
      <%= yield %>

  </body>

<% else %>

  <body style="padding-top: 0;">
    <%= render "layouts/header" %>
    <div style="padding-top: 80px;">
      <%= render "homes/hub" %>
    </div>
  </body>

<% end %>
