<!DOCTYPE html>
<html>
<head>
  <title>Rms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/header'%>

<%if user_signed_in?%>
    
<div class="container-fluid">

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>

    <%= yield %>

</div>

<%else%>
  

<div class="container-fluid">

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>

<% end %>
  <div class="row">
    <div class="span9"> 
    
         <%= yield %>
  
    </div>
  </div>
</div>


<%end%>




</body>
</html>
